/* Estilos para el cuerpo y la página HTML */
html, body {
  height: 100%;
  padding-top: 10px;
  margin: 3px;
}

/* Color de texto para la clase text-color */
.text-color {
  color: #8B4513; /* Color de texto café */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px; /* Ajusta el espacio interno según tus preferencias */
  background-color: #f3f3f3; /* Color de fondo del encabezado */
}
.welcome-text {
  color: #8B4513;
  font-weight: bold;
  font-size: 30px;
  margin-right: auto;
}

.img-logo {
  text-align: center; /* Centra el contenido del div */
}
.img-logo img {
  max-width: 250px;
  height: auto;
  display: block; /* Para centrar horizontalmente */
  margin: 0 auto;
  
}
.login-registro {
  display: flex;
  align-items: center;
  text-align: right; /* Alinea el contenido a la derecha */
  /* Margen derecho para espacio en el margen derecho de la página */
}

.login-registro a {
  text-decoration: none;
  color: #8B4513;
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}

.login-registro img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social-icon {
  text-decoration: none;
  color: #333;
  font-size: 30px;
  margin-bottom: 10px;
  margin: 0 5px;
}

.social-icon img {
  width: 30px;
  height: 30px;
}
/* Consulta de medios para pantallas más pequeñas */
@media (max-width: 768px) {
  .header-container {
      flex-direction: column;
      align-items: center;
  }

  .login-registro {
      margin-top: 10px; /* Espacio entre el texto de bienvenida y los enlaces de inicio de sesión/registro */
      text-align: center;
  }

  .social-icons {
      margin-top: 10px; /* Espacio entre los enlaces de registro y los iconos sociales */
  }
}

/* Estilos para la barra de navegación */
.navbar {
  padding: 0; /* Ajusta el espaciado de la barra de navegación */
  font-size: 25px; /* Ajusta el tamaño de fuente según tus preferencias */
  color: #6f4e37; /* Color del texto */
}

/* Estilo para la galería de imágenes */
.image-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  max-width: 100%;
  overflow-x: auto;
}

/* Estilo para los enlaces de imágenes */
.image-link {
  text-decoration: none;
}

/* Estilo para la galería de imágenes */
.image-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-link {
  border-radius: 10px; /* Redondear las esquinas de los enlaces de imagen */
  overflow: hidden; /* Asegura que la imagen no se desborde si es más grande que el enlace */
}

.image-link img {
  width: 100%; /* Asegura que la imagen se ajuste al contenedor redondeado */
}

.divider {
  width: 10px; /* Espacio entre las imágenes */
}

/* Estilo para el footer */
.footer {
  background-color:#e0766d; /* Color de fondo oscuro */
  color: #ffffff; /* Color del texto en blanco */
  padding: 10px 0; /* Espaciado interior del footer */
}

/* Estilo para los enlaces dentro del footer */
.footer a {
  color: #fff; /* Color del texto de los enlaces en blanco */
  text-decoration: none; /* Elimina la subrayado de los enlaces */
}

/* Estilo para los enlaces al pasar el mouse */
.footer a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* Estilo para el botón de WhatsApp */
.btn-success {
  background-color: #28a745; /* Color de fondo del botón de éxito */
  color: #fff; /* Color del texto en blanco */
  border: none; /* Elimina el borde del botón */
  padding: 10px 20px; /* Espaciado interior del botón */
  text-decoration: none; /* Elimina la subrayado del botón */
}

/* Estilo para el botón de WhatsApp al pasar el mouse */
.btn-success:hover {
  background-color: #218838; /* Color de fondo del botón de éxito al pasar el mouse */
}

